:root {
  --game-theme: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--game-theme);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#keyboard {
  width: 50%;
}

.row button {
  height: 65px;
  width: 8%;
  display: inline-block;
  margin: 2.5px;
  font-size: 1em;
  border: none;
  background-color: lightgray;
  border-radius: 5px;
}

button.one-and-a-half {
  width: 15%;
  font-size: .8em;
}

.gridBox {
  width: 75px;
  height: 75px;
  display: block;
  border: black 1px solid;
  font-size: 1.75em;
  margin: 2.5px;
  box-sizing: border-box;
  color: black;
  background-color: var(--game-theme);
}

@media only screen and (max-width: 600px) {
  .gridBox {
    font-size: 2.6em;
  }
  #keyboard {
    width: 100%;
  }
}

.gridRow {
  height: fit-content;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}
h1 {
  margin: 5px;
}